In [1]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [3]:
someday = dt.date(2010, 1, 20)

In [4]:
someday.year

2010

In [5]:
someday.month

1

In [6]:
someday.day

20

In [4]:
str(someday)

'2010-01-20'

In [5]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [8]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [11]:
# sometime.year
# sometime.month
# sometime.day
# sometime.hour
# sometime.minute
sometime.second

57

## The `pandas Timestamp` Object

In [17]:
# pd.Timestamp("2015-03-31")
# pd.Timestamp("2015/03/31")
# pd.Timestamp("1/1/2015")
# pd.Timestamp("19/12/2015")
# pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [21]:
pd.Timestamp("2013, 11, 04")

Timestamp('2013-11-04 00:00:00')

In [22]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [18]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [19]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [20]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [23]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [24]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [25]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [26]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [27]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [28]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [29]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [30]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [31]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [32]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [33]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [34]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [35]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [36]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [37]:
pd.Period("2016-01-08", freq = "W")
pd.Period("2016-01-08", freq = "W-SUN")
pd.Period("2016-01-08", freq = "W-WED")
pd.Period("2015-12-10", freq = "10D")

dates = ["2016-01-01", "2016-02-01", "2016-02-01"]
pd.PeriodIndex(dates, freq = "W-MON")
weeks = pd.PeriodIndex(dates, freq = "W-MON")

pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [38]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

D = Day , 2D,3d....;
W = Week; 
B = Business Days; 
W-FRI = To start week on particular day; 
H = Hour , 6H,3H......; 
M = Month ends; 
MS = Month sarts; 
A = Year ends;

In [39]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [40]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [44]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [45]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [46]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-WED")

DatetimeIndex(['2012-09-12', '2012-09-19', '2012-09-26', '2012-10-03',
               '2012-10-10', '2012-10-17', '2012-10-24', '2012-10-31',
               '2012-11-07', '2012-11-14', '2012-11-21', '2012-11-28',
               '2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26',
               '2013-01-02', '2013-01-09', '2013-01-16', '2013-01-23',
               '2013-01-30', '2013-02-06', '2013-02-13', '2013-02-20',
               '2013-02-27', '2013-03-06', '2013-03-13', '2013-03-20',
               '2013-03-27', '2013-04-03', '2013-04-10', '2013-04-17',
               '2013-04-24', '2013-05-01', '2013-05-08', '2013-05-15',
               '2013-05-22', '2013-05-29', '2013-06-05', '2013-06-12',
               '2013-06-19', '2013-06-26', '2013-07-03', '2013-07-10',
               '2013-07-17', '2013-07-24', '2013-07-31', '2013-08-07',
               '2013-08-14', '2013-08-21'],
              dtype='datetime64[ns]', freq='W-WED')

periods = how many dates want to generate

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [47]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [2]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [3]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [4]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [10]:
company = "PYPL" # paypal stock symbol
start = "2010-01-01"
end = "2018-12-31"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close   Volume  Adj Close
Date
2015-07-06  39.750000  36.000000  38.000000  36.709999  5866600  36.709999
2015-07-07  37.810001  36.000000  37.720001  36.619999  7359000  36.619999
2015-07-08  36.360001  34.529999  36.340000  34.700001  5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000  3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999  4472800  34.689999

In [11]:
stocks.values
stocks.columns
stocks.index[0]
stocks.axes

[DatetimeIndex(['2015-07-06', '2015-07-07', '2015-07-08', '2015-07-09',
                '2015-07-10', '2015-07-13', '2015-07-14', '2015-07-15',
                '2015-07-16', '2015-07-17',
                ...
                '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
                '2018-12-21', '2018-12-24', '2018-12-26', '2018-12-27',
                '2018-12-28', '2018-12-31'],
               dtype='datetime64[ns]', name='Date', length=880, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [22]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close   Volume  Adj Close
Date
2015-07-06  39.750000  36.000000  38.000000  36.709999  5866600  36.709999
2015-07-07  37.810001  36.000000  37.720001  36.619999  7359000  36.619999
2015-07-08  36.360001  34.529999  36.340000  34.700001  5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000  3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999  4472800  34.689999

In [18]:
stocks.loc["2015-07-08"]

High         3.636000e+01
Low          3.453000e+01
Open         3.634000e+01
Close        3.470000e+01
Volume       5.387700e+06
Adj Close    3.470000e+01
Name: 2015-07-08 00:00:00, dtype: float64

In [17]:
stocks.iloc[50]

High         3.395000e+01
Low          3.267000e+01
Open         3.372000e+01
Close        3.380000e+01
Volume       1.187490e+07
Adj Close    3.380000e+01
Name: 2015-09-15 00:00:00, dtype: float64

In [19]:
stocks.loc["2016-01-01"] # doesnot exits

KeyError: 'the label [2016-01-01] is not in the [index]'

In [23]:
stocks.loc["2015-07-08" : "2018-10-07"]

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-07-08  36.360001  34.529999  36.340000  34.700001   5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000   3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999   4472800  34.689999
2015-07-13  37.500000  35.500000  35.590000  36.779999   7626000  36.779999
2015-07-14  37.740002  36.599998  36.990002  36.930000   4653300  36.930000
2015-07-15  38.200001  37.029999  37.980000  37.509998  13072800  37.509998
2015-07-16  39.970001  38.080002  38.820000  38.630001  21348500  38.630001
2015-07-17  40.200001  38.180000  39.419998  38.389999  45720200  38.389999
2015-07-20  42.549999  39.799999  41.459999  40.470001  52286500  40.470001
2015-07-21  41.110001  39.119999  41.080002  39.349998  32954600  39.349998
2015-07-22  39.720001  38.099998  39.349998  38.389999  25363900  38.389999
2015-07-23  38.750000  36.930000  38.740002  37.009998  19250200  37.009998
2015-07-24  38.000000  36.910000  37.709999  37.000000  14274300  37.000000
2015-07-27  37.380001  36.220001  36.779999  36.389999  16179900  36.389999
2015-07-28  38.000000  36.830002  37.189999  37.599998  18986000  37.599998
2015-07-29  38.099998  37.619999  38.029999  37.950001  11788400  37.950001
2015-07-30  39.009998  37.715000  38.040001  38.450001  13845100  38.450001
2015-07-31  39.200001  38.220001  39.139999  38.700001  12480600  38.700001
2015-08-03  39.880001  38.900002  39.250000  39.389999  15126600  39.389999
2015-08-04  39.910000  38.430000  39.910000  38.950001  10992200  38.950001
2015-08-05  39.880001  39.169998  39.700001  39.270000   9463100  39.270000
2015-08-06  39.740002  38.549999  39.630001  38.849998   7324100  38.849998
2015-08-07  39.230000  38.599998  39.040001  39.130001   8331300  39.130001
2015-08-10  39.689999  38.770000  39.430000  39.049999   7998900  39.049999
2015-08-11  39.279999  38.720001  38.930000  38.849998   8184000  38.849998
2015-08-12  38.580002  37.009998  38.549999  38.189999  21350600  38.189999
2015-08-13  38.490002  37.439999  38.400002  37.619999   7863500  37.619999
2015-08-14  38.180000  37.380001  37.490002  38.139999   6271100  38.139999
2015-08-17  38.750000  37.700001  38.299999  38.730000   4931700  38.730000
2015-08-18  39.000000  37.869999  39.000000  37.990002   4678800  37.990002
...               ...        ...        ...        ...       ...        ...
2018-08-24  90.129997  87.949997  87.949997  90.099998   7403900  90.099998
2018-08-27  91.320000  89.779999  90.680000  89.970001   5466700  89.970001
2018-08-28  90.849998  89.680000  90.099998  90.610001   4643800  90.610001
2018-08-29  92.940002  90.779999  90.779999  92.620003   7841800  92.620003
2018-08-30  93.010002  91.709999  92.290001  92.089996   7146600  92.089996
2018-08-31  92.739998  91.800003  91.839996  92.330002   4874400  92.330002
2018-09-04  93.440002  91.620003  91.940002  93.070000   6466700  93.070000
2018-09-05  93.000000  88.699997  92.980003  89.050003  10202200  89.050003
2018-09-06  89.555000  88.059998  89.180000  89.000000   6840300  89.000000
2018-09-07  89.680000  87.389999  88.129997  88.820000   5679500  88.820000
2018-09-10  89.989998  88.559998  89.430000  89.800003   5466000  89.800003
2018-09-11  91.709999  89.035004  89.830002  91.430000   7321900  91.430000
2018-09-12  92.459999  90.209999  91.529999  92.400002   7213500  92.400002
2018-09-13  93.699997  92.059998  92.599998  92.190002   8308300  92.190002
2018-09-14  92.680000  90.680000  92.250000  90.779999   9342800  90.779999
2018-09-17  91.300003  88.510002  90.660004  88.680000   9293800  88.680000
2018-09-18  90.089996  88.709999  88.709999  89.720001   5820700  89.720001
2018-09-19  90.739998  88.237999  90.099998  89.309998   5495100  89.309998
2018-09-20  90.779999  89.184998  89.839996  90.599998   6561700  90.599998
2018-09-21  92.000000  90.419998  91.050003  90.620003  25379400  90.620003
2018-09-24  90.260002  88.260002  89.949997  89.620003   8303100  89.620003
2018-09-25  90.379997  89.275002  89.620003  90.040001   5953400  90.040001
2018-09-26  90.930000  89.699997  90.339996  89.849998   5936200  89.849998
2018-09-27  90.699997  88.860001  90.610001  88.989998   6996600  88.989998
2018-09-28  89.044998  87.599998  88.790001  87.839996   7920600  87.839996
2018-10-01  88.800003  87.400002  88.129997  87.550003   9260600  87.550003
2018-10-02  87.349998  85.830002  87.269997  86.680000   6488200  86.680000
2018-10-03  87.949997  86.370003  87.400002  87.150002   6625000  87.150002
2018-10-04  86.500000  83.540001  86.389999  84.339996   9077900  84.339996
2018-10-05  84.839996  82.320000  84.209999  83.180000  10735800  83.180000

[820 rows x 6 columns]

In [24]:
birthdays = pd.date_range(start = "1994-05-06", end = "2018-12-31", freq = pd.DateOffset(years = 1))

In [27]:
pd.date_range(start = "1994-05-06", end = "2018-12-31", freq = pd.DateOffset(years = 1))

DatetimeIndex(['1994-05-06', '1995-05-06', '1996-05-06', '1997-05-06',
               '1998-05-06', '1999-05-06', '2000-05-06', '2001-05-06',
               '2002-05-06', '2003-05-06', '2004-05-06', '2005-05-06',
               '2006-05-06', '2007-05-06', '2008-05-06', '2009-05-06',
               '2010-05-06', '2011-05-06', '2012-05-06', '2013-05-06',
               '2014-05-06', '2015-05-06', '2016-05-06', '2017-05-06',
               '2018-05-06'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [25]:
mask = stocks.index.isin(birthdays)

In [26]:
stocks[mask]

                 High        Low       Open  Close   Volume  Adj Close
Date
2016-05-06  39.700001  38.610001  38.709999  39.48  6548100      39.48

## `Timestamp` Object Attributes

In [30]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

                 High        Low       Open      Close   Volume  Adj Close
Date
2015-07-06  39.750000  36.000000  38.000000  36.709999  5866600  36.709999
2015-07-07  37.810001  36.000000  37.720001  36.619999  7359000  36.619999
2015-07-08  36.360001  34.529999  36.340000  34.700001  5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000  3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999  4472800  34.689999

In [31]:
someday = stocks.index[500]
someday

Timestamp('2017-06-28 00:00:00')

In [32]:
someday.day
# someday.month
# someday.year
# someday.is_month_start

28

In [33]:
someday.is_month_end

False

In [44]:
someday.day_name

In [40]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [41]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [42]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2015-09-01,Tuesday,True,34.680000,33.410000,34.150002,33.770000,13376000,33.770000
2015-10-01,Thursday,True,31.587000,30.750000,30.820000,31.480000,9657000,31.480000
2015-12-01,Tuesday,True,35.410000,33.849998,35.410000,35.169998,14893900,35.169998
2016-02-01,Monday,True,37.320000,35.590000,35.650002,37.080002,17356000,37.080002
2016-03-01,Tuesday,True,39.544998,38.020000,38.520000,39.250000,14085300,39.250000
2016-04-01,Friday,True,39.459999,38.400002,38.509998,39.400002,6982000,39.400002
2016-06-01,Wednesday,True,38.479000,37.709999,37.810001,38.310001,5458500,38.310001
2016-07-01,Friday,True,36.669998,36.250000,36.599998,36.349998,7260400,36.349998
2016-08-01,Monday,True,37.439999,36.900002,37.430000,37.060001,5473900,37.060001
2016-09-01,Thursday,True,37.320000,36.580002,37.270000,36.830002,10412200,36.830002
2016-11-01,Tuesday,True,42.294998,41.290001,41.680000,41.540001,9399000,41.540001
2016-12-01,Thursday,True,39.680000,38.180000,39.560001,38.340000,11265600,38.340000
2017-02-01,Wednesday,True,40.000000,39.110001,39.959999,39.310001,8860400,39.310001
2017-03-01,Wednesday,True,42.520000,41.990002,42.310001,42.430000,6003800,42.430000
2017-05-01,Monday,True,47.713001,47.320000,47.389999,47.540001,14537500,47.540001
2017-06-01,Thursday,True,53.389999,52.474998,52.480000,53.160000,13898300,53.160000
2017-08-01,Tuesday,True,59.389999,58.790001,59.000000,59.340000,9079100,59.340000
2017-09-01,Friday,True,62.230000,61.382999,61.980000,61.459999,3440400,61.459999
2017-11-01,Wednesday,True,72.989998,71.690002,72.779999,72.379997,6655600,72.379997
2017-12-01,Friday,True,76.440002,74.260002,75.220001,75.300003,13387800,75.300003
2018-02-01,Thursday,True,80.949997,76.699997,79.949997,78.400002,44271600,78.400002
2018-03-01,Thursday,True,80.440002,77.879997,79.599998,78.639999,8443300,78.639999
2018-05-01,Tuesday,True,74.989998,73.599998,74.150002,74.809998,5660200,74.809998
2018-06-01,Friday,True,83.459999,81.849998,82.550003,83.250000,7092100,83.250000
2018-08-01,Wednesday,True,83.980003,82.010002,82.239998,83.459999,11160400,83.459999
2018-10-01,Monday,True,88.800003,87.400002,88.129997,87.550003,9260600,87.550003
2018-11-01,Thursday,True,85.150002,83.570000,84.180000,85.040001,5952600,85.040001

## The `.truncate()` Method

In [47]:
stocks_2 = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks_2.head()

                 High        Low       Open      Close   Volume  Adj Close
Date
2015-07-06  39.750000  36.000000  38.000000  36.709999  5866600  36.709999
2015-07-07  37.810001  36.000000  37.720001  36.619999  7359000  36.619999
2015-07-08  36.360001  34.529999  36.340000  34.700001  5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000  3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999  4472800  34.689999

In [48]:
stocks_2.truncate(before = "2015-06-07", after = "2017-02-28")

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-07-06  39.750000  36.000000  38.000000  36.709999   5866600  36.709999
2015-07-07  37.810001  36.000000  37.720001  36.619999   7359000  36.619999
2015-07-08  36.360001  34.529999  36.340000  34.700001   5387700  34.700001
2015-07-09  35.520000  33.990002  35.099998  34.500000   3760100  34.500000
2015-07-10  35.189999  33.980000  34.660000  34.689999   4472800  34.689999
2015-07-13  37.500000  35.500000  35.590000  36.779999   7626000  36.779999
2015-07-14  37.740002  36.599998  36.990002  36.930000   4653300  36.930000
2015-07-15  38.200001  37.029999  37.980000  37.509998  13072800  37.509998
2015-07-16  39.970001  38.080002  38.820000  38.630001  21348500  38.630001
2015-07-17  40.200001  38.180000  39.419998  38.389999  45720200  38.389999
2015-07-20  42.549999  39.799999  41.459999  40.470001  52286500  40.470001
2015-07-21  41.110001  39.119999  41.080002  39.349998  32954600  39.349998
2015-07-22  39.720001  38.099998  39.349998  38.389999  25363900  38.389999
2015-07-23  38.750000  36.930000  38.740002  37.009998  19250200  37.009998
2015-07-24  38.000000  36.910000  37.709999  37.000000  14274300  37.000000
2015-07-27  37.380001  36.220001  36.779999  36.389999  16179900  36.389999
2015-07-28  38.000000  36.830002  37.189999  37.599998  18986000  37.599998
2015-07-29  38.099998  37.619999  38.029999  37.950001  11788400  37.950001
2015-07-30  39.009998  37.715000  38.040001  38.450001  13845100  38.450001
2015-07-31  39.200001  38.220001  39.139999  38.700001  12480600  38.700001
2015-08-03  39.880001  38.900002  39.250000  39.389999  15126600  39.389999
2015-08-04  39.910000  38.430000  39.910000  38.950001  10992200  38.950001
2015-08-05  39.880001  39.169998  39.700001  39.270000   9463100  39.270000
2015-08-06  39.740002  38.549999  39.630001  38.849998   7324100  38.849998
2015-08-07  39.230000  38.599998  39.040001  39.130001   8331300  39.130001
2015-08-10  39.689999  38.770000  39.430000  39.049999   7998900  39.049999
2015-08-11  39.279999  38.720001  38.930000  38.849998   8184000  38.849998
2015-08-12  38.580002  37.009998  38.549999  38.189999  21350600  38.189999
2015-08-13  38.490002  37.439999  38.400002  37.619999   7863500  37.619999
2015-08-14  38.180000  37.380001  37.490002  38.139999   6271100  38.139999
...               ...        ...        ...        ...       ...        ...
2017-01-17  41.709999  41.200001  41.599998  41.270000   5932900  41.270000
2017-01-18  41.490002  41.110001  41.410000  41.349998   4706000  41.349998
2017-01-19  41.680000  41.029999  41.250000  41.270000   4717600  41.270000
2017-01-20  41.720001  41.299999  41.389999  41.689999   6868500  41.689999
2017-01-23  42.110001  41.250000  41.860001  41.619999   8497100  41.619999
2017-01-24  42.040001  41.529999  41.950001  41.959999   6106500  41.959999
2017-01-25  42.439999  41.660000  42.360001  41.709999   8604000  41.709999
2017-01-26  42.500000  41.285000  42.360001  41.500000  11838100  41.500000
2017-01-27  41.200001  39.919998  41.000000  40.270000  22749200  40.270000
2017-01-30  40.270000  39.419998  40.169998  39.860001  11486000  39.860001
2017-01-31  40.009998  39.450001  39.700001  39.779999   9100100  39.779999
2017-02-01  40.000000  39.110001  39.959999  39.310001   8860400  39.310001
2017-02-02  39.840000  39.020000  39.400002  39.580002   8736800  39.580002
2017-02-03  39.930000  39.549999  39.790001  39.590000   7131100  39.590000
2017-02-06  39.830002  39.340000  39.639999  39.740002   8206400  39.740002
2017-02-07  40.340000  39.700001  40.009998  40.020000   7956300  40.020000
2017-02-08  40.990002  39.919998  40.180000  40.880001   7399000  40.880001
2017-02-09  40.994999  40.299999  40.439999  40.830002   6467600  40.830002
2017-02-10  40.860001  40.560001  40.820000  40.580002   6248200  40.580002
2017-02-13  41.299999  40.740002  40.830002  41.169998   6260900  41.169998
2017-02-14  41.630001  40.939999  41.180000  41.619999   6496400  41.619999
2017-02-15  41.930000  41.270000  41.689999  41.869999   7124600  41.869999
2017-02-16  42.310001  41.700001  41.869999  42.150002   5730800  42.150002
2017-02-17  42.299999  41.799999  41.919998  41.959999   5106000  41.959999
2017-02-21  42.560001  41.900002  41.930000  42.430000   5874700  42.430000
2017-02-22  42.529999  42.119999  42.299999  42.419998   4316200  42.419998
2017-02-23  42.669998  42.160000  42.369999  42.529999   5456300  42.529999
2017-02-24  43.070000  41.830002  42.110001  43.070000   6769500  43.070000
2017-02-27  42.889999  42.349998  42.889999  42.639999   5026700  42.639999
2017-02-28  42.490002  41.990002  42.490002  42.000000   6956800  42.000000

[417 rows x 6 columns]

## `pd.DateOffset` Objects

In [49]:
stocks_3 = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks_3.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527
2004-08-24  55.439419  51.450363  55.260582  52.096165  15361800.0  52.096165
2004-08-25  53.651051  51.604362  52.140873  52.657513   9257400.0  52.657513

In [50]:
stocks_3.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2010-05-01 03:42:00', '2010-05-02 03:42:00',
               '2010-05-05 03:42:00', '2010-05-06 03:42:00',
               '2010-05-07 03:42:00', '2010-05-08 03:42:00',
               '2010-05-09 03:42:00', '2010-05-12 03:42:00',
               '2010-05-12 03:42:00', '2010-05-13 03:42:00',
               ...
               '2025-01-19 03:42:00', '2025-01-20 03:42:00',
               '2025-01-21 03:42:00', '2025-01-22 03:42:00',
               '2025-01-25 03:42:00', '2025-01-26 03:42:00',
               '2025-01-27 03:42:00', '2025-01-28 03:42:00',
               '2025-01-29 03:42:00', '2025-02-01 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=3713, freq=None)

## More Fun with `pd.DateOffset` Objects

In [51]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [52]:
stocks_4 = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks_4.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527
2004-08-24  55.439419  51.450363  55.260582  52.096165  15361800.0  52.096165
2004-08-25  53.651051  51.604362  52.140873  52.657513   9257400.0  52.657513

In [53]:
stocks_4.index - MonthEnd()
# stocks_4.index - QuarterEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30'],
              dtype='datetime64[ns]', name='Date', length=3713, freq=None)

In [54]:
stocks_4.index - QuarterBegin()

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2019-03-01', '2019-03-01', '2019-03-01', '2019-03-01',
               '2019-03-01', '2019-03-01', '2019-03-01', '2019-03-01',
               '2019-03-01', '2019-03-01'],
              dtype='datetime64[ns]', name='Date', length=3713, freq=None)

In [55]:
stocks_4.index - BMonthEnd()

DatetimeIndex(['2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-07-30', '2004-07-30', '2004-07-30',
               '2004-07-30', '2004-08-31',
               ...
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30'],
              dtype='datetime64[ns]', name='Date', length=3713, freq=None)

In [56]:
stocks_4.index - YearBegin()

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='Date', length=3713, freq=None)

## The `Timedelta` Object

In [57]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [58]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [59]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [60]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [61]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [62]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [64]:
shipping = pd.read_csv("D:\TUTORIALS\Exercise Files - Data Analysis with Pandas and Python/ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [65]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [66]:
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [67]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [68]:
shipping.head()

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [69]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [70]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [71]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')